  * {
   padding: 0; 
   margin: 0;
    } 
  canvas {
   background: #000;
    display: block;
     margin: 0 auto; 
 }
 

 
  .dprev{
 	display: inline-block;
 	padding-top: 40px;
 	

 }
 a{
 	display: inline-block;
 	text-decoration: none;
 	color: "green";
 	font-size: 40px;

 }
.dnext{
	display: inline-block;
	text-align: right;
	padding-left: 50%;

}